:root {
	--header-height: 120px;

	--text-lv1: 5rem;
	--text-lv2: 4.5rem;
	--text-lv3: 4rem;
	--text-lv4: 3.5rem;
	--text-lv5: 3rem;
	--text-lv6: 2.5rem;
	--text-lv7: 2rem;
	--text-lv8: 1.5rem;
	--text-lv9: 1rem;

	--tab-9: 9rem;
	--tab-8: 8rem;
	--tab-7: 7rem;
	--tab-6: 6rem;
	--tab-5: 5rem;
	--tab-4: 4rem;
	--tab-3: 3rem;
	--tab-2: 2rem;
	--tab-1: 1rem;

	--tab-85: 8.5rem;
	--tab-75: 7.5rem;
	--tab-65: 6.5rem;
	--tab-55: 5.5rem;
	--tab-45: 4.5rem;
	--tab-35: 3.5rem;
	--tab-25: 2.5rem;
	--tab-15: 1.5rem;

	--green: rgb(28, 156, 77);
	--blue: rgb(20, 51, 97);
}

* {
	-webkit-tap-highlight-color: transparent;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
	user-select: none;
	padding: 0;
	margin: 0;
}
*::-webkit-scrollbar {
	width: 0;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--text-lv9);
}

.header {
	width: 100%;
	padding: 15px 25px;
	background: white;
	height: var(--header-height);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.2rem solid rgba(218, 218, 218, 0.616);
}
.header .left,
.header .right {
	flex: 1;
	width: 15vw;
	display: flex;
}

.header .left {
	width: 50px;
	height: 50px;
	align-items: center;
}
.header .left .menu-container {
	width: 50px;
	height: 100%;
	cursor: pointer;
}
.header .left .menu {
	top: 50%;
	width: 50px;
	height: 7px;
	position: relative;
	transition: all 0.3s ease;
	transform: translateY(-50%);
	background-color: var(--blue);
}
.header .left .menu::before,
.header .left .menu::after {
	position: absolute;
	cursor: pointer;
	content: '';
	left: 0;
	right: 0;
	height: inherit;
	transform-origin: left;
	transition: all 0.3s ease;
	background-color: var(--blue);
}
.header .left .menu::before {
	top: -17px;
}
.header .left .menu::after {
	bottom: -17px;
}

.header .left .menu-container.active .menu {
	background: transparent;
}
.header .left .menu-container.active .menu::before {
	transform: rotateZ(45deg);
}
.header .left .menu-container.active .menu::after {
	transform: rotateZ(-45deg);
}

.header .title {
	transition: color 0.15s 0.3s ease;
	font-size: var(--text-lv1);
	color: var(--blue);
	position: relative;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	width: 450px;
	flex: 2;
}
.header .title::after {
	bottom: 0;
	left: 50%;
	width: 50%;
	z-index: -1;
	height: 7px;
	content: '';
	position: absolute;
	transform: translateX(-50%);
	background-color: var(--blue);
	transition: width 0.15s ease, height 0.15s 0.15s ease;
}
.header .title:hover {
	color: lightblue;
}
.header .title:hover::after {
	width: inherit;
	height: 95%;
}

.main {
	top: var(--header-height);
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: var(--text-lv4);
}

ul {
	list-style-type: none;
	display: flex;
}

.main .nav-bar {
	height: calc(100vh - var(--header-height));
	transform: translateX(-120%);
	transition: all 0.3s ease;
	top: var(--header-height);
	position: fixed;
	width: 30vw;
	z-index: 10;
	left: 0;
}
.menu-container:hover .nav-bar,
.main .nav-bar.active {
	transform: translateX(0);
}
.main .nav-bar__container {
	height: 100%;
	display: flex;
	overflow: hidden auto;
	flex-direction: column;
}
.main .nav-bar__container > .item {
	margin: 0.7rem;
	padding: 2rem;
	cursor: pointer;
	max-width: 320px;
	font-weight: bold;
	text-align: center;
	border-radius: 2rem;
	color: rgb(142, 142, 243);
	transition: all 0.3s ease;
	border: 5px solid rgb(142, 142, 243);
	background: var(--blue);
}
.main .nav-bar__container > .item.active,
.main .nav-bar__container > .item:hover {
	background: rgb(142, 142, 243);
	border-color: transparent;
	color: var(--blue);
}

.main .content {
	margin: var(--tab-1);
	width: 95%;
}
.main .content > section {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.main .content > section > .title {
	width: 100%;
	text-align: center;
	font-size: var(--text-lv2);
}

.main .content > section > .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.main .content > section > .container > .card {
	position: relative;
	margin: 1.5rem 2rem 6.6rem;
}
.main .content > section > .container > .card > .card__image {
	position: relative;
	perspective: 1000px;
	height: 400px;
	width: 385px;
	text-align: center;
}
.main .content > section > .container > .card > .card__image > .container {
	position: absolute;
	inset: 0;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.main
	.content
	> section
	> .container
	> .card
	> .card__image:hover
	> .container {
	transform: rotateY(180deg);
}

.main .content > section > .container > .card > .card__image .front,
.main .content > section > .container > .card > .card__image .back {
	backface-visibility: hidden;
	position: absolute;
	inset: 0;
}
.main .content > section > .container > .card > .card__image .front {
	background-color: #bbb;
	color: black;
}
.main .content > section > .container > .card > .card__image .back {
	background-color: dodgerblue;
	transform: rotateY(180deg);
	color: white;
}

.main .content > section > .container > .card .info {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.main .content > section > .container > .card .info .preview {
	font-weight: bold;
	position: relative;
	transition: all 0.3s ease-out;
}
.main .content > section > .container > .card .info .preview::after {
	background-color: rgb(18, 26, 102);
	position: absolute;
	content: '';
	height: 7px;
	left: 0;
	right: 0;
	bottom: -10px;
	transform: scaleX(0);
	transform-origin: center;
	transition: all 0.3s ease-out;
}
.main .content > section > .container > .card .info .preview:hover:after {
	transform: scaleX(1);
}
.main .content > section > .container > .card .info .preview:hover {
	color: rgb(18, 26, 102);
}

.main .content > section > .container > .card .howto {
	border-radius: 3.5rem;
	margin: 1.5rem auto;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: white;
	width: 200px;
	padding: 1.5rem;
	text-align: center;
	transition: all 0.3s ease;
	background-color: var(--blue);
}
.main .content > section > .container > .card .howto:hover {
	transform: translateY(0.8rem);
}
.main .content > section > .container > .card .howto:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	width: inherit;
	height: 10rem;
	transition: all 0.5s ease;
	transform: skewY(-20deg) translateY(-15rem);
	background-color: rgba(255, 255, 255, 0.424);
}
.main .content > section > .container > .card .howto:hover:after {
	transform: skewY(-20deg) translateY(15rem);
}

.onShow {
	display: block;
}
.onHide {
	display: none;
}
